<!DOCTYPE html>
<html>
<head>
    <title>sandbox</title>
    <script type="text/javascript" src="/main/static/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/browser/static/js/redirect.js?v=1"></script>
    <script src="/main/static/lib/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/main/static/lib/bootstrap-table.min.css">
    <script src="/main/static/lib/bootstrap-table.min.js"></script>
    <script src="/main/static/lib/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript" src="/main/static/js/index.js?v=060"></script>
</head>
<body>


{% include 'includes/_head.html' %}

<div class="main-content">
    <div class="main-content-inner">
    </div>
</div>

</body>

<script>
    $(".main-content .main-content-inner").load("./index_show.html", function (res) {
        // {#$("#showUpdatePasswodDiv").show();#}
    });
</script>

{% include 'includes/_footer.html' %}

</html>