<html>
<head>
    <title>首页-main</title>
    <meta charset="utf-8">
    <script>


    </script>
</head>
<body>
<div class="jumbotron masthead">
    <div class="container">
        <h1>sandbox</h1>
        <h2>AI技术团队sandbox</h2>
    </div>
</div>

<div class="container container-panel">

    <div class="card">
        <div class="card-header">
            <i class="fa fa-database" aria-hidden="true"></i> 基础服务
        </div>

        <ul class="list-group list-group-flush">
             <li class="list-group-item alert-primary" role="alert" align="center">
                <a href="#" onclick="load_main('idcard.generate')">身份证生成</a>
            </li>
            <li class="list-group-item alert-primary" role="alert" align="center">
                <a href="#" onclick="load_main('idcard.generate.random')">身份证生成.随机</a>
            </li>
        </ul>
    </div>
</div>

<div class="container container-panel">
    <div class="card">
        <div class="card-header">
            <i class="fa fa-file-text-o" aria-hidden="true"></i> 工具类测试
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item alert alert-primary" role="alert" align="center">
                <a href="#" onclick="load_case('jsz')">XXX</a>
            </li>
        </ul>
    </div>

</div>

</body>


</html>
