<link rel="stylesheet" href="/main/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/main/static/css/font-awesome.css">
<link rel="stylesheet" href="/main/static/css/style.css?v=5">

<!-- header 菜单 start -->
<div data-v-a1c38262="" class="header-box">
    <div data-v-a1c38262="" class="header-container">
        <img data-v-a1c38262="" src="" alt=""/>
        <ul data-v-a1c38262="" class="nav">
            <li data-v-a1c38262="" class="menu-title"><a data-v-a1c38262="" href="/sandbox"
                                                         class="router-link-exact-active active">首页</a></li>
            <li data-v-a1c38262="" class="menu-title"> 产品服务
                <div data-v-a1c38262="" class="sub-nav">
                    <dl data-v-a1c38262="" class="nav-1">
                        <dt data-v-a1c38262="" class="tit">
                            工具类测试
                        </dt>
                        <dd data-v-a1c38262="" class="nav-2">
                            <a data-v-a1c38262=""></a>
                        </dd>
                        <dd data-v-a1c38262="" class="nav-2">
                            <a data-v-a1c38262="" href="javascript:;" onclick="load_main('case.compare')" class="">用例正确率测试</a>
                        </dd>
                        <dd data-v-a1c38262="" class="nav-2">
                            <a data-v-a1c38262="" href="javascript:;" onclick="load_main('case.diff')" class="">用例结果比较</a>
                        </dd>
                        <dd data-v-a1c38262="" class="nav-2">
                            <a data-v-a1c38262="" href="javascript:;" onclick="load_main('demo.query')" class="">Demo结果查询</a>
                        </dd>
                    </dl>
                    <dl data-v-a1c38262="" class="nav-1">
                        <dt data-v-a1c38262="" class="tit">
                            批量测试
                        </dt>
                        <dd data-v-a1c38262="" class="nav-2">
                            <a data-v-a1c38262="" href="javascript:;" onclick="load_case('jsz')" class="">驾驶证</a>
                        </dd>
                        <dd data-v-a1c38262="" class="nav-2">
                            <a data-v-a1c38262="" href="javascript:;" onclick="load_case('vrc')" class="">机动车登记证</a>
                        </dd>
                        <dd data-v-a1c38262="" class="nav-2">
                            <a data-v-a1c38262="" href="javascript:;" onclick="load_case('ivc')" class="">发票</a>
                        </dd>
                        <dd data-v-a1c38262="" class="nav-2">
                            <a data-v-a1c38262="" href="javascript:;" onclick="load_case('sali')" class="">交强险保单</a>
                        </dd>
                        <dd data-v-a1c38262="" class="nav-2">
                            <a data-v-a1c38262="" href="javascript:;" onclick="load_case('idcard')" class="">身份证</a>
                        </dd>
                        <dd data-v-a1c38262="" class="nav-2">
                            <a data-v-a1c38262="" href="javascript:;" onclick="load_case('xsz')" class="">行驶证</a>
                        </dd>
                    </dl>
                     <dl data-v-a1c38262="" class="nav-1">
                        <dt data-v-a1c38262="" class="tit">
                            业务功能DEMO
                        </dt>
                        <dd data-v-a1c38262="" class="nav-2">
                            <a data-v-a1c38262="" href="javascript:;" onclick="load_demo('jsz')" class="">驾驶证识别</a>
                        </dd>
                         <dd data-v-a1c38262="" class="nav-2">
                            <a data-v-a1c38262="" href="javascript:;" onclick="load_demo('vrc')" class="">机动车登记证识别</a>
                        </dd>
                         <dd data-v-a1c38262="" class="nav-2">
                             <a data-v-a1c38262="" href="javascript:;" onclick="load_demo('ivc')" class="">发票识别</a>
                        </dd>
                         <dd data-v-a1c38262="" class="nav-2">
                             <a data-v-a1c38262="" href="javascript:;" onclick="load_demo('sali')" class="">交强险保单识别</a>
                         </dd>
                     </dl>
                </div>
            </li>
            <li data-v-a1c38262="" class="menu-title"><a data-v-a1c38262="" href="/browser" class="">数据管理</a></li>
        </ul>
    </div>
</div>
<!-- header 菜单 end -->